<app-navbar></app-navbar>
<div class="container mt-5" >
  <app-profile [user]="user"></app-profile>
  <table class="table table-striped w-100">
    <thead>
     <tr>
      <th *ngFor="let col of tableCols" scope="col">{{col|titlecase}}</th>
     </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of tableData">
      <td *ngFor="let col of tableCols">{{item[col]}}</td>
     </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <app-modal (addTaskEvent)="addTask($event)"></app-modal>
        </td>

    </tfoot>
   </table> 
   <p>
  </p>
</div>
<app-footer></app-footer>